@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button {
    width: 200px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    border-color: firebrick;
    background-color: firebrick;
    box-shadow: rgb(112, 20, 20);
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}